<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tojem - jualan jadi mudah | tojem</title>
</head>
<body>
  <% if (user) { %>
  <a href="/backstore/products" title="Kelola toko Anda">backstore</a>
  <% } %>
  <h1>Tojem jualan jadi mudah</h1>
  <a class="login-page-link" href="/login">Login</a>
</body>
</html>
