<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>tojem - jualan jadi mudah | tojem</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .container {
      max-width: 480px;
      margin: 0 auto;
    }

    .bg-fb {
      background-color: #4080ff;
    }

    .item {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0.1rem, rgba(0, 0, 0, 0.12) 0px 0.1rem 0.2rem;
    }
  </style>
</head>
<body class="bg-grey-lightest font-sans font-normal text-black leading-normal">
  <div style="position: fixed; top: 0; right: 0; left: 0" class="bg-red">
    <div class="container">
      <div class="mx-4 py-2 text-sm">
        <div class="overflow-hidden">
          <div class="float-left">
            <form action="/cari">
              <input type="text" class="border p-1 rounded" name="q" value="<%= query %>" placeholder="Mau cari apa?">
              <button type="submit" class="hidden">Temukan</button>
            </form>
          </div>
          <div class="float-right">
            <% if (user) { %>
              <a class="text-white" href="/backstore/products" title="Kelola toko Anda">Ke backstore</a>
              <span class="text-white">|</span>
              <a class="logout-link text-white" href="/logout">Log Out</a>
            <% } else { %>
              <a class="login-page-link text-white" href="/login">Log In</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 68px">
    <div class="mx-4">
      <h1 class="mt-4 mb-8">
        <% if (query) { %>
          Hasil pencarian <%= '"' + query + '"' %>
        <% } else { %>
          Temukan berbagai barang dan makanan
        <% } %>
      </h1>

      <% for (let i = 0; i < 3; i++) { %>
      <div class="item bg-white border border-grey mb-4">
        <div style="padding: 0.2rem;">
          <div style="width: 100%; min-height: 220px" class="bg-grey-lighter">
            <img class="w-full" src="http://lorempixel.com/320/220" alt="">
          </div>
          <div class="p-4">
            <div class="detail">
              <p class="">Bakso Bakar</p>
              <p class="text-sm text-grey-darker mt-2"><span>Toko Awesome</span></p>
              <p class="mt-2 text-green font-bold">20.000</p>
            </div>
          </div>
        </div>

        <div class="action p-2 border-t border-grey-lighter text-right">
          <button class="bg-white border text-grey-darker p-2 rounded ">👀 Lihat</button>
          <button class="bg-fb text-white p-2 rounded ">☎️ Hubungi Penjual</button>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</body>
</html>
