{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": false,
    "jest/globals": true
  },
  "plugins": [
    "import",
    "jest",
    "mocha",
    "vue"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "tojem-web"
        ]
      }
    }
  }
}
