<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Ubah Produk | <%= app.name %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="font-sans font-normal text-black leading-normal bg-grey-lightest">
  <div id="app">
    <%- include('../_partials/sidebar') %>

    <div class="main-content">

      <%- include('../_partials/header') %>

      <product-edit value="<%= JSON.stringify(product) %>"></product-edit>
    </div>
  </div>

  <script src="/js/backstore/product-edit.js"></script>
  <script src="/js/bs-nav.js"></script>
</body>
</html>
