<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Not Found | <%= app.name %></title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .container {
      max-width: 480px;
      margin: 0 auto;
    }
  </style>
</head>
<body class="bg-black font-sans font-normal text-white leading-normal text-white">
  <div class="container">
    <div class="container mx-auto">
      <div class="mx-4">
        <h1 class="mt-4 mb-8">😱 Maaf... <%= message || 'Halaman Tidak Ditemukan' %></h1>
        <p class="text-lg">Tiada hari tanpa masalah. Becanda!</p>
        <br>
        <a class="bg-white p-2 rounded text-black" href="/">Ke halaman utama</a>

      </div>
    </div>
  </div>
</body>
</html>
