<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>POS | <%= app.title %></title>
</head>
<body>
  <div id="app" class="container mx-auto">
    <div class="flex">
      <div class="w-full p-4">
        <h1 class="mt-2 mb-4">Transaksi Baru
          <a href="/backstore/products" class="border border-grey rounded-sm no-underline text-sm p-2 float-right">Kembali</a>
        </h1>
      </div>
    </div>
    <hr>
    <div class="flex flex-col-reverse md:flex-row bg-smoke-light">
      <div class="flex-1 w-full md:w-1/2 text-slate bg-smoke px-4 py-2">
        <product-list></product-list>
      </div>
      <div class="flex-1 w-full md:w-1/2 text-slate bg-grey-light px-4 py-4">
        <pos-cart></pos-cart>
      </div>
    </div>
  </div>
  <script src="/js/pos.js"></script>
</body>
</html>
