<div class="border-b bg-black border-black flex-none px-2 sm:px-4 md:px-8 py-6">
  <div class="overflow-hidden">
    <button id="sidebar-btn" class="bg-white p-2 rounded sm:hidden">Menu</button>

    <button id="close-btn" class="bg-white p-2 rounded sm:hidden hidden absolute pin-r pin-t m-2">Close</button>

    <a href="/backstore/pos" class="bg-blue text-white p-2 rounded float-right">Transaksi Baru</a>
  </div>
</div>
