<div id="sidebar" class="bs-sidebar bg-white">
  <div class="p-8 flex-1 mt-8 overflow-y-scroll">
    <nav class="text-base overflow-y-scroll">
      <div class="mb-8">
        <ul>
          <li class="mb-3">
            <a class="hover:underline text-grey-darkest">Dashboard</a>
          </li>
        </ul>
      </div>
      <div class="mb-8">
        <p class="mb-4 text-grey-dark uppercase tracking-wide font-bold text-xs">Produk</p>
        <ul>
          <li class="mb-3">
            <a href="/backstore/products/create" class="hover:underline text-grey-darkest">Tambah Baru</a>
          </li>
          <li class="mb-3">
            <a href="/backstore/products" class="hover:underline text-grey-darkest">Daftar</a>
          </li>
        </ul>
      </div>
      <div class="mb-8">
        <p class="mb-4 text-grey-dark uppercase tracking-wide font-bold text-xs">Order</p>
        <ul>
          <li class="mb-3">
            <a href="#" class="hover:underline text-grey-darkest">Semua</a>
          </li>
        </ul>
      </div>
      <div class="mb-8">
        <p class="mb-4 text-grey-dark uppercase tracking-wide font-bold text-xs">Laporan</p>
        <ul>
          <li class="mb-3">
            <a href="/backstore/report" class="hover:underline text-grey-darkest">Ringkasan</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
