<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= app.tagline %> | <%= app.name %></title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .bg-fb {
      background-color: #4080ff;
    }
  </style>
</head>
<body class="bg-fb font-sans font-normal text-black leading-normal text-white">
  <div class="container mx-auto">
    <div class="mx-4 my-4">
      <% if (auth.isAuth()) { %>
        <a class="text-white" href="/backstore/products" title="Kelola toko Anda">Ke backstore</a>
        <span class="text-white">|</span>
        <a class="logout-link text-white" href="/logout">Log Out</a>
      <% } %>
    </div>

    <div class="mx-4">
      <h1 class="mt-4 mb-2">Memoku</h1>
      <div class="lead text-lg">
        <p>Ketahui keadaan usahamu, catat semua transaksi dan dapatkan laporan, gratis!</p>
        <br>
        <a href="/login" class="text-blue bg-white p-2 rounded" onclick="window.location = '/auth/facebook'">Login dengan Facebook</a>
      </div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="my-8 mx-4">
      <h2><a class="text-white" href="#">Masalah user apa...</a></h2>
    </div>

    <ul class="mt-4 mx-4">
      <li><a class="text-white">kita solve nya gmn (Benefit)</a></li>
      <li><a class="text-white" href="#">Screenshot dashboard penjual</a></li>
      <li><a class="text-white" href="#">kata-kata buat CTA</a></li>
      <li><a class="text-white" href="#">kontak</a></li>
      <li><a class="text-white" href="#">Survey. Let us to help you</a></li>
    </ul>
  </div>

  <!-- <p>
      problem nya mereka

- mereka jualan kemungkinan ga nyatet transaksi, ataupun mereka nyatet manual
- misal kalo bikin laporan, itu manual





solusi nya kita
- mereka bisa catat/track transaksi mereka biar kecatet dan ga ilang
- laporan kita generate otomatis



flow konversi:
    </p> -->
</body>
</html>
