<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Buat Product | tojem</title>
</head>
<body>
  <div class="container">
    <h1>Buat Produk</h1>
    <a class="btn" href="/backstore/products">Kembali</a>

    <hr>

    <form action="/backstore/products/create" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div>
        <label for="name">Nama</label>
        <input id="name" type="text" name="name">
      </div>

      <div>
        <label for="price">Harga</label>
        <input id="price" type="number" name="price">
      </div>

      <div>
        <label for="description">Deskripsi</label>
        <textarea id="description" name="description" rows="3"></textarea>
      </div>

      <button id="save-product-button" type="submit">Tambah</button>
    </form>
  </div>
</body>
</html>
