<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Detail Produk : <%= product.name %> | tojem</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container mx-auto">
    <div class="flex">
      <div class="p-4 w-full">
        <h1 class="product-name mt-1 mb-4"><%= product.name %></h1>
        <a class="rounded-sm border border-grey text-sm p-2" href="/backstore/products">Lihat Semua Produk</a>
      </div>
    </div>


    <div class="flex">
      <div class="p-4 w-full">
        <div class="mb-4">
          <div class="mb-2">Harga</div>
          <div class="product-price">Rp. <%= product.price.toLocaleString() %></div>
        </div>

        <div class="mb-4">
          <div class="mb-2">Deskripsi</div>
          <div class="product-description"><%= product.description %></div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
