<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Daftar Produk | tojem</title>
</head>
<body>
  <div class="container">
    <h1>Daftar Produk</h1>
    <a class="btn btn-add-product" href="/backstore/products/create">Tambah Produk</a>
    <a class="btn btn-add-product" href="/backstore/pos">Transaksi Baru</a>
    <hr>
    <div class="product-list">
      <% products.forEach((product) => { %>
        <div>
          <div><%= product.name %></div>
          <div>Rp. <%= product.price.toLocaleString() %></div>
          <a href="/backstore/products/<%= product.id %>/edit">Ubah</a>
          <a href="/backstore/products/<%= product.id %>">Lihat</a>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
