<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>POS | tojem</title>
</head>
<body>
  <div id="app" class="container mx-auto">
    <h1>Transaksis Baru</h1>
    <hr>
    <div class="flex bg-smoke-light">
      <div class="w-1/2 h-12">
        <p>Bakso</p>
        <button>Tambah</button>
      </div>
      <div class="w-1/2 bg-grey-light h-12">
        <pos-transaction></pos-transaction>
      </div>
    </div>
  </div>
  <script src="/js/pos.js"></script>
</body>
</html>
