<div class="border-b bg-black border-black flex-none px-2 md:px-4 md:px-8 py-6 overflow-hidden">
  <div>
    <div class="float-left flex">
      <button id="sidebar-btn" class="bg-transparent rounded p-2 md:hidden">
        <svg height="24" fill="white" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
      </button>

      <span class="inline-block p-2 text-white"><%= auth.user.store.name %></span>
    </div>

    <div class="float-right hidden md:block">
      <a href="/backstore/pos" class="btn-new-transaction bg-teal text-white p-2 rounded">Catat Transaksi</a>
      <span class="text-white">|</span>
      <span class="text-white"><%= auth.user.name %></span>
      <span class="text-white">|</span>
      <a href="/logout" class="text-white">Keluar</a>
    </div>
  </div>
</div>
