<div style="position: fixed; top: 0; right: 0; left: 0" class="bg-red">
  <div class="container">
    <div class="mx-4 py-2 text-sm">
      <div class="overflow-hidden">
        <div class="float-left">
          <form action="/cari">
            <input type="text" class="border p-1 rounded" name="q" value="<%= query %>" placeholder="Mau cari apa?">
            <button type="submit" class="hidden">Temukan</button>
          </form>
        </div>
        <div class="float-right">
          <% if (auth.isAuth()) { %>
            <a class="text-white" href="/backstore/products" title="Kelola toko Anda">Ke backstore</a>
            <span class="text-white">|</span>
            <a class="logout-link text-white" href="/logout">Log Out</a>
          <% } else { %>
            <a class="login-page-link text-white" href="/login">Log In</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
