<div class="bg-grey-lighter" style="margin-top: 42px">
  <div class="container">
    <div class="py-2 px-4 text-grey-darkest text-sm">
      <span id="location">Anda belum menentukan lokasi <button id="find-location" class="p-1 border rounded bg-white">Tentukan lokasi</button></span>
    </div>
  </div>
</div>
